@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400');


body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11.5pt;
  line-height: 1.5;
  font-weight: 300;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', serif;
}

code {
  padding: 1px;
  background-color: #fff;
    font-family: 'Fira Code', monospace;
}

a {
  color: #0d6efd;
}

a:hover {
  color: #002f5f;
}


::selection {

    background-color: #e3f4f7;

}

#navbar a:hover {

    background-color: #e3f4f7;

}

.btn-primary {
  background-color: #002f5f;
  border-color: #002f5f;
}

.btn-primary {
  background-color: #002f5f;
  border-color: #002f5f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #acdee6;
    border-color: #002f5f
}
