@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400');


body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11.5pt;
  line-height: 1.5;
  font-weight: 300;
  color: #111111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', serif;
}

code {
  padding: 1px;
  background-color: #fff;
    font-family: 'Fira Code', monospace;
}
